.boton-clear { 
  height: 60px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.6em;
  background-color: #ebb000;
  color: #030305;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 8px;
  cursor: pointer;
  user-select: none;
}

.boton-clear:hover {
  background-color: #FF5733;
}