.logo-contenedor {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo-contenedor span {
  font-size: 3.6em;
  font-weight: 800;
  text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.9);
}

.logo-contenedor span:not(:first-child) {
  margin-left: -0.23em;
}