.App {
  height: 100vh;
  background-color: #2B4F8D;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.calculadora-contenedor {
  width: 350px;
  height: 500px;
  padding: 14px;
  background-color: #011034;
  border-radius: 20px;
  border: 2px solid #030305;
  box-shadow: 0 10px 10px rgba(252, 250, 250, 0.3), 0 6px 10px rgba(255, 255, 255, 0.5);
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}